In [1]:
import pandas as pd
import gmaps
from config import gkey
import csv
import numpy as np
import time
from datetime import datetime

gmaps.configure(api_key = gkey)

In [2]:
df_path = "../Data_Cleanse/NYCTaxiTrips_Yr2015.csv"

In [3]:
nyc_df = pd.read_csv(df_path, encoding="UTF-8")
nyc_df.head()

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,pickup_zip,pickup_borough,pickup_neighborhood,dropoff_longitude,dropoff_latitude,dropoff_zip,dropoff_borough,dropoff_neighborhood,payment_type,fare_amount,tip_amount,total_amount
0,2,2015-01-06 11:39:29,2015-01-06 11:49:15,1,1.78,-73.999619,40.743599,10011,Manhattan,Chelsea and Clinton,-73.992203,40.764019,10036,Manhattan,Chelsea and Clinton,2,9.0,0.00,9.80
1,1,2015-01-13 09:18:29,2015-01-13 09:23:40,1,2.10,-73.981956,40.778290,10023,Manhattan,Upper West Side,-73.962173,40.805355,10024,Manhattan,Upper West Side,1,7.5,2.45,10.75
2,2,2015-01-16 07:15:44,2015-01-16 07:26:42,1,2.33,-73.991188,40.742226,10010,Manhattan,Gramercy Park and Murray Hill,-73.981613,40.768452,10019,Manhattan,Chelsea and Clinton,1,10.0,1.00,11.80
3,1,2015-01-23 11:56:05,2015-01-23 12:13:20,1,2.10,-73.959297,40.763336,10065,Manhattan,Upper East Side,-73.979996,40.781071,10023,Manhattan,Upper West Side,2,12.5,0.00,13.30
4,1,2015-01-24 10:11:48,2015-01-24 10:18:32,2,0.90,-73.971832,40.764751,10065,Manhattan,Upper East Side,-73.984047,40.764519,10019,Manhattan,Chelsea and Clinton,2,6.5,0.00,7.30

In [4]:
p_lat = round(nyc_df.pickup_latitude,2)
p_lon = round(nyc_df.pickup_longitude,2)

d_lat = round(nyc_df.dropoff_latitude,2)
d_lon = round(nyc_df.dropoff_longitude,2)


nyc_df['pickup_cordinates'] = list(zip(p_lat,p_lon))
nyc_df['dropoff_cordinates'] = list(zip(d_lat,d_lon))

In [10]:
nyc_df.head()

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,pickup_zip,pickup_borough,pickup_neighborhood,...,dropoff_latitude,dropoff_zip,dropoff_borough,dropoff_neighborhood,payment_type,fare_amount,tip_amount,total_amount,pickup_cordinates,dropoff_cordinates
0,2,2015-01-06 11:39:29,2015-01-06 11:49:15,1,1.78,-73.999619,40.743599,10011,Manhattan,Chelsea and Clinton,...,40.764019,10036,Manhattan,Chelsea and Clinton,2,9.0,0.00,9.80,"(40.74, -74.0)","(40.76, -73.99)"
1,1,2015-01-13 09:18:29,2015-01-13 09:23:40,1,2.10,-73.981956,40.778290,10023,Manhattan,Upper West Side,...,40.805355,10024,Manhattan,Upper West Side,1,7.5,2.45,10.75,"(40.78, -73.98)","(40.81, -73.96)"
2,2,2015-01-16 07:15:44,2015-01-16 07:26:42,1,2.33,-73.991188,40.742226,10010,Manhattan,Gramercy Park and Murray Hill,...,40.768452,10019,Manhattan,Chelsea and Clinton,1,10.0,1.00,11.80,"(40.74, -73.99)","(40.77, -73.98)"
3,1,2015-01-23 11:56:05,2015-01-23 12:13:20,1,2.10,-73.959297,40.763336,10065,Manhattan,Upper East Side,...,40.781071,10023,Manhattan,Upper West Side,2,12.5,0.00,13.30,"(40.76, -73.96)","(40.78, -73.98)"
4,1,2015-01-24 10:11:48,2015-01-24 10:18:32,2,0.90,-73.971832,40.764751,10065,Manhattan,Upper East Side,...,40.764519,10019,Manhattan,Chelsea and Clinton,2,6.5,0.00,7.30,"(40.76, -73.97)","(40.76, -73.98)"

In [11]:
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
    (46.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
]

In [7]:
 # Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '5px dashed red',
    'padding': '10px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [8]:
 # Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
print(markers)
# Add the layer to the map
fig.add_layer(markers)
fig

Markers(data_bounds=[(25.409220837098978, -136.14598137565838), (53.85077916290103, -67.23556774133647)], markers=[Marker(location=(40.71, -74.0)), Marker(location=(30.26, -97.74)), Marker(location=(46.87, -96.78)), Marker(location=(47.6, -122.33)), Marker(location=(32.71, -117.16))])

Figure(layout=FigureLayout(border='5px dashed red', height='300px', margin='0 auto 0 auto', padding='10px', width='400px'))

In [9]:
fig.show()

AttributeError: 'Figure' object has no attribute 'show'